@import "tailwindcss";

/* -------------------- navbar -------------------- */
.nav {
  box-sizing: border-box;
  width: 100%;
  background-color: #1d1d1d;
  border-bottom: 2px solid #363636;
  padding: 20px;
  overflow-x: auto;
}

.nav .nav-content {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav .nav-content a {
  color: #eeeeee;
  text-decoration: none;
}

.nav .nav-content a:hover {
  color: #eeeeeed0;
}

.nav .nav-content .brand {
  font-weight: bold;
  font-size: 20px;
  min-width: 170px;
}

.nav .nav-content ul {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.nav .nav-content ul ol {
  padding: 0;
}

/* -------------------- logo -------------------- */
.nav-content .button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.nav-content .button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8ad2;
  --fs-size: 20px;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  min-width: 270px;
  max-width: 270px;
  width: 100%;
}
.nav-content .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.nav-content .button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* -------------------- home-page -------------------- */
.home-page {
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  max-width: 1600px;
  overflow-x: auto;
}

/* -------------------- projects-page -------------------- */
.projects-page {
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  max-width: 1000px;
  overflow-x: auto;
}

.projects-page .projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.projects-page .projects-header label {
  font-size: 0.9rem;
}

.projects-page ul {
  list-style: none;
  padding: 0;
  margin: auto;
  max-width: 1000px;
}

.projects-page li {
  box-sizing: border-box;
  background-color: #1d1d1d;
  border: 2px solid #37ff8aa4;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding: 10px;
  min-width: fit-content;
}

.projects-page li p:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.projects-page li p:nth-child(3) {
  color: #eeeeee8f;
  margin: 0;
}

.projects-page li a {
  color: #eeeeee;
  text-decoration: none;
}

.projects-page li a:hover {
  color: #eeeeeed0;
}

.projects-page li a:nth-child(1) {
  font-size: 18px;
}

.projects-page li span {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.projects-header option {
  color: #eeeeee;
  background-color: #242424;
}

/* -------------------- project-detail-page -------------------- */
.project-detail-page {
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  max-width: 1600px;
  overflow-x: auto;
}

.project-detail-page pre {
  background-color: rgba(0, 0, 0, 0.404);
  border: 1px solid #363636;
  padding: 10px 10px;
}
